//colours
$accent_colour: #429398;
$body_text: #333333;
$off_white: #fcfaf4;


//fonts
$title_font: BenchNine;
$body_font: "PT Serif", serif;

@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700);
@font-face {
    font-family: $title_font;
    src: url('../graphics/fonts/BenchNine-Light.otf');
    font-weight: 300;
}
body {
    margin: 0;
    color: $body_text;
    font-family: $body_font;
}
h1, h2, h3 {
    margin: 0;
    padding: 0;
}
p, ul, li {
    font-size: 1.3rem;
}
ul {
    overflow: hidden;
    padding-left: 1.5rem;
}
a {
    color: $accent_colour;
    font-weight: 400;
    text-decoration: none;
}

img {
    max-width: 100%;
}
strong {
    font-weight: 700;
}

// LAYOUT
aside {
    width: 21rem;
    height: 100%;
    float: left;
    position: fixed;
    background-color: $accent_colour;

}

.body_container {
    margin-left: 21rem;
    padding: 0 2rem;
}

.body_container_inner {
    max-width: 60rem;
    margin: 0 auto;
}

// Styling

.emoji {
    font-size: 2.5rem;
    vertical-align: middle;
}

aside ul{
    list-style: none;
}

aside li:before {
    content: "+  ";
    color: #fff;
}
aside a:link, aside a:visited, aside a:active {
    color: $off_white;
}

aside a:hover {
    color: #fff;
}

section {
    padding: 3rem 0;
    border-bottom: 2px solid #ccc;
}

.site-title {
    color: #fff;
    font-family: $title_font;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 4rem;
    vertical-align: middle;
        padding: 2rem;
}

h2 {
    font-family: $title_font;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 3rem;
    padding: 1rem 0;
}

.entry-img {
    box-shadow: 0 0 5px #ccc;
    width: 30rem;
    // float: right;
    display: inline-block;
    width: 49%;
    vertical-align: top;
    margin-bottom: 2rem;
}

.entry {
    padding-bottom: 1rem;
    display: inline-block;
    width: 50%;
}

.entry-title {
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1rem 0 0 0;
}

@media (max-width: 1080px) {

    .entry, .entry-img {
        display: block;
        width: 100%;
    }

    aside {
        height: auto;
        width: 100%;
        float: none;
        position: relative;
        background-color: $accent_colour;
        padding: 1rem 2rem;
        margin: 0;
        box-sizing: border-box;
    }

    .body_container {
        margin-left: 0;
        padding: 0 2rem;
    }


}