<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/style.css">
  {% include head.html %}
</head>
<body>
    {% include header.html %}

    <h2>blog</h2>

    <section>
        <ul class="blogfeed">
        {% for post in site.posts %}
        <li>
            <a class="blogfeed--title" href="{{ post.url }}">{{ post.title }}</a> - 
            <span class="blogfeed--date">{{ post.date | date: '%B %-d, %Y' }}</span>
        </li>
        {% endfor %}
        </ul>
    </section>
</body>
</html>